.titulo{    
    padding-top: 2px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}
.closed {
    border-color: blue;
    margin-top: -50px;
    padding-top: -50px;
}
.texto1 {
    text-align: center;
}
.padre{
    /* border: 2px solid blue; */
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hijo{
    /* border: 2px solid green; */    
    margin: 1rem;   
    text-align: center;
    width: 25%;
    height: 90%;    
}
.imagen {
    width: 8rem;   
    height: 8rem;
    border-radius: 50%;
    border-color: blue; 
    object-fit: cover;    
}

.padre .hijo img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px rgba(0,162,255, 0.5);   
}
.padre .hijo img:hover ~ h3{
    cursor: pointer;
    color: rgba(0,162,255, 0.5);
    font-weight: 500;  
    
}
