<div class="titulo">
    <div>
        <h2 mat-dialog-title>Tipo de usuario</h2>
    </div>
    <div>
        <mat-dialog-actions >
            <button class="closed" mat-button mat-dialog-close mat-dialog-close="true"><mat-icon >close</mat-icon></button>
        </mat-dialog-actions>  
    </div>
    
</div>
<hr>
<mat-dialog-content>
    <div>
        <p class="texto1">Seleccione el tipo de usuario</p>
    </div>
    <div class="padre">      

        <div class="hijo" *ngFor="let tipo_user of tipo_users">
            <img class="imagen" src={{tipo_user.imgUser}} alt="">
            <h3>{{tipo_user.tipoUser}}</h3>           
        </div>
        
    </div>

</mat-dialog-content>
